<%= render 'shared/navbar' %>
<div class="main-container">
  <div class="start" id="start">
    <h6>Hi, my name is</h6>
    <h1>Maruan Aguerdouh.</h1>
    <h2>I'm a Full-Stack developer.</h2>
    <p>
      I'm a web developer now based in Madrid who specializes in creating outstanding digital experiences. Dedicated to creating web applications that are accessible, appealing, and practical.
    </p>
   <%= mail_to "maruan.mx@gmail.com", "Contact me!", class: "coloured-border-btn" %>
  </div>

  <section class="about" id="about">
    <div class="section-title">
      <h2><span>01.</span> About Me</h2><span class="thin-line"></span>
    </div>
    <div class="inner-content row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mr-auto">
        <div class="text-box">
          <p>
          Hello! My name is Maruan, and I adore coming up with innovative ideas for the internet. My interest in web development began in 2018 when I attempted to start my own dropshipping business. During that project, I used a lot of technologies such as wordpress and very little coding because the majority of the project was about plugins, but that experience showed me that I was very limited without coding, so I decided to learn code until I'm able to do anything that my mind can think of.
          </p>
          <p>
            I decided to begin my journey at Le Wagon in Madrid Batch #628 in the year 2021, and it was one of the best coding experiences I've ever had; I enjoyed working with the senior developer teacher and everything that I learned from them; I was so addicted to the challenges that I almost completed them all; and I was so pleasant that I was able to assist all of my teammates in my batch.
          </p>
          <p>
            The following are the primary technologies with which I've worked:
          </p>
          <ul class="my-skills">
            <li>JavaScript (ES6+)</li>
            <li>Ruby on Rails</li>
            <li>PostgreSQL</li>
            <li>CSS & HTML (also SCSS)</li>
            <li>UI & UX Design (with Figma)</li>
            <li>Ruby</li>
            <li>SQL</li>
            <li>WordPress</li>
            <li>AJAX</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
        <div class="photo-box">
          <div class="position-relative">
            <div class="image-border"></div>
            <div class="my-image" style="background-image: url(<%= asset_path('me.jpeg') %>)"></div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="worked" id="worked">
    <div class="section-title">
      <h2><span>02.</span> Where I’ve Worked</h2><span class="thin-line"></span>
    </div>
    <div class="inner-content">
      <div class="text-box">
        <p>
          I recently completed Le Wagon Bootcamp, and while I lack real-world experience, I have worked on projects with my teammates, so I am comfortable with teamwork, and I am eager to get started and show what I'm capable of.
        </p>
      </div>
    </div>
  </section>
  <section class="projects" id="projects">
    <div class="section-title">
      <h2><span>03.</span> Some Things I’ve Built</h2><span class="thin-line"></span>
    </div>
    <div class="projects-cards">
      <div class="project-card">
          <a href="https://www.releve.dev" target="blank">
            <div class="image" style="background: url('<%= asset_path('releve.png') %>');"></div>
          </a>
        <div class="lockup">
          <h6>Featured Project</h6>
          <a href="https://www.releve.dev" class="project-title" target="blank">Releve.dev</a>
          <div class="lockup-text">
            <p>IIt was my idea, and it's a website that helps you find the best online courses to get started studying any programming language. It was my last project with few coworkers during bootcamp.</p>
          </div>
          <div class="extra-info">
            <div class="skills-used">
              <ul>
                <li>Ruby on Rails</li>
                <li>JS</li>
                <li>GitHub API</li>
                <li>Udemy API</li>
              </ul>
            </div>
            <div class="external-links">
              <a href="https://github.com/Ephoniz/Releve.dev" class="icono-link" target="blank"><i class="fab fa-github"></i></a>
              <a href="https://www.releve.dev" class="icono-link" target="blank"><i class="fa fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="project-card flip-horizontal">
          <a href="https://plarent-releve.herokuapp.com" target="blank">
            <div class="image" style="background: url('<%= asset_path('plarent.webp') %>');"></div>
          </a>
        <div class="lockup">
          <h6>Featured Project</h6>
          <a href="https://plarent-releve.herokuapp.com" class="project-title" target="blank">Plarent</a>
          <div class="lockup-text">
            <p>A website where you may search for planets throughout the universe and book them for holidays or special occasions. This project's design was a lot of fun for me to create.</p>
          </div>
          <div class="extra-info">
            <div class="skills-used">
              <ul>
                <li>Ruby on Rails</li>
                <li>JS</li>
                <li>HTML5 & SCSS</li>
              </ul>
            </div>
            <div class="external-links">
              <a href="https://github.com/Ephoniz/Plarent-project" class="icono-link" target="blank"><i class="fab fa-github"></i></a>
              <a href="https://plarent-releve.herokuapp.com" class="icono-link" target="blank"><i class="fa fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="project-card">
          <a href="https://watchlist-maru.herokuapp.com" target="blank">
            <div class="image" style="background: url('<%= asset_path('watchlist.webp') %>');"></div>
          </a>
        <div class="lockup">
          <h6>Featured Project</h6>
          <a href="https://watchlist-maru.herokuapp.com" class="project-title" target="blank">Watchlist</a>
          <div class="lockup-text">
            <p>A website where you can organize your movies into lists and easily retrieve them.</p>
          </div>
          <div class="extra-info">
            <div class="skills-used">
              <ul>
                <li>Ruby on Rails</li>
                <li>JS</li>
                <li>HTML & SCSS</li>
              </ul>
            </div>
            <div class="external-links">
              <a href="https://github.com/Ephoniz/rails-watch-list" class="icono-link" target="blank"><i class="fab fa-github"></i></a>
              <a href="https://watchlist-maru.herokuapp.com" class="icono-link" target="blank"><i class="fa fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="contact-title">
      <h3>04. what's next?</h3>
      <h2>Contact Me!</h2>
    </div>
    <div class="lockup">
      <p>
        I'm currently seeking for work, therefore I'm available to participate in any intriguing project you have in mind! I'm looking for a full-stack or backend gig, but I'm also open to being a fantastic frontend developer. 😁
      </p>
    </div>
      <div id="contact-form">
        <%= render 'contact_form' %>
      </div>
      <div class="section-footer">
        <p>You can also reach out to me personally through <%= mail_to "maruan.mx@gmail.com" %></p>
      </div>
  </section>
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>